<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmanager.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.example.springbootmanager.pojo.Book" >
    <id column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="bookname" property="bookname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="press" property="press" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="BorrowDate" property="borrowdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    bookid, bookname, status, press, username, BorrowDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from book
    where bookid = #{bookid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from book
    where bookid = #{bookid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.springbootmanager.pojo.Book" >
    insert into book (bookid, bookname, status, 
      press, username, BorrowDate
      )
    values (#{bookid,jdbcType=INTEGER}, #{bookname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{press,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{borrowdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springbootmanager.pojo.Book" >
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="bookname != null" >
        bookname,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="press != null" >
        press,
      </if>
      <if test="username != null and username.length>0" >
        username,
      </if>
      <if test="borrowdate != null and borrowdate.length>0"  >
        BorrowDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="press != null" >
        #{press,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="borrowdate != null" >
        #{borrowdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootmanager.pojo.Book" >
    update book
    <set >
      <if test="bookname != null" >
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="press != null" >
        press = #{press,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="borrowdate != null" >
        BorrowDate = #{borrowdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bookid = #{bookid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springbootmanager.pojo.Book" >
    update book
    set bookname = #{bookname,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      press = #{press,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      BorrowDate = #{borrowdate,jdbcType=TIMESTAMP}
    where bookid = #{bookid,jdbcType=INTEGER}
  </update>
  <select id="selectAllBook" resultType="Book">
    select *
    from book
  </select>
  <select id="selectByNameAndStatus" resultMap="BaseResultMap">
    select * from book
    <trim prefix="where" prefixOverrides="and|or">
      <if test="bookName!=null and bookName.length()>0">
        and bookName=#{bookName}
      </if>
      <if test="status==0 or status==1">
        and status=#{status}
      </if>
    </trim>
  </select>
</mapper>